@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#485563,#29323c);

    --background: 224 10.4% 2.72%;
    --foreground: 224 1.6% 96.7%;

    --muted: 224 8% 10.200000000000001%;
    --muted-foreground: 224 1.6% 53.4%;

    --popover: 224 61.8% 4.42%;
    --popover-foreground: 224 1.6% 96.7%;

    --card: 224 61.8% 4.42%;
    --card-foreground: 224 1.6% 96.7%;

    --border: 224 8% 10.200000000000001%;
    --input: 224 8% 10.200000000000001%;

    --primary: 224 16% 34%;
    --primary-foreground: 224 1.6% 96.7%;

    --secondary: 224 8% 10.200000000000001%;
    --secondary-foreground: 224 1.6% 96.7%;

    --accent: 224 8% 10.200000000000001%;
    --accent-foreground: 224 1.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 224 1.6% 96.7%;

    --ring: 224 16% 34%;
    --radius: 0.5rem;

  }
 
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}
 
@layer base {
  * {
    @apply border-border;
  }
  /* body {
    @apply bg-background
  } */
}

section{
  @apply mt-10 md:mt-20 pb-4
}

section h2{
  @apply text-2xl md:text-3xl
}

section h3{
  @apply text-2xl md:text-3xl text-muted-foreground
  
}


section p{
  @apply text-lg  md:text-2xl mt-4 md:mt-10
}
